body {
    background-color:rgba(248, 233, 233, 0.979);
    font-family:'Trebuchet MS';
    margin:0; 
  }

h1 { 
    color: darkgray;
    font-size: medium;
    text-align:left;
    margin: 1%;
  }

  h2 {
    text-align:center;
    font-size:30px;
    color: rgb(17, 17, 19);
    text-shadow: 2px 2px 4px #b4adad
  }

  h3{
    text-align:center;
    font-size:30px;
    color: rgb(17, 17, 19);
    text-shadow: 2px 2px 4px #b4adad;
    margin-top: 6%;
  }

  h4 {
    color:ghostwhite;
    font-size:40px;
    margin-bottom: 10px;
  }

/* This is for the banner and text within the banner on the top of the page -------------*/
div.topcontainer {
    position: relative;
    text-align: center;
    font-size:xxx-large;
    color: rgb(233, 229, 229);
    text-shadow: 2px 2px 4px #000000;
    }

/* Top Center text in Banner */
div.BannerText{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Navigation Bar Under the Welcome Banner-------------*/
    #navbar {
    overflow: hidden;
    background-color: rgb(28, 69, 119);
    margin-top: -12px;
    }

    #navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }

    #navbar a:hover {
    background-color: rgb(109, 151, 214);
    }

    div.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }

/* Image CSS Properties */
    .Image-Round-Corner {
        border-radius: 8px;
    }
    .Image-Alignment {
        max-width:100%;height:auto
    }
    .Image-Alignment img{
        vertical-align:middle
    }
    .Image-Alignment a{
        color:inherit
    }

/* Row Col Box */

.rowPic {
    float:left;
    margin: 10px;
}
.rowText{
    float: right;
    margin-right: 10px;
    margin-left: -15%
}

.rowPic2 {
    float:right;
    margin-right: -35%;
}
.rowText2{
    float: left;
}

.para1 {
    font-size:22px
}
.para2 {
    font-size:18px;
    color: rgb(112, 108, 108)
}

.box {
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 7%;
    background-color:rgb(196, 214, 221);
    border-radius: 25px;
    padding: 45px;
    box-shadow: 10px 10px 5px grey;
    display: flex;
}

/* Cards for links */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    min-width: 350px;
    margin: 20px;
    text-align: center;
    font-family: arial;
  }
.cardsRow {
    display: flex;
    flex-wrap:wrap;
    flex-grow: 1;
    padding: 0 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
.site {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgb(77, 151, 180);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

  }

.bottomBox {
    background-color:rgb(28, 69, 119);
    padding: 50px ;
    margin-top: 100px;
  }


.bottomText {
    margin-left: 45%;
  }

.email {
    color: ghostwhite;
    text-decoration: none;
  }